* {
  font-family: 'Alumni Sans Pinstripe';
}

h1 {
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    size: 60px;
}

thead {
  background-color: lightpink;
}

.thead-primary {
  text-align: center;
  align-content: center;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  font-size: 18px;
}

td {
  text-align: center;
}

input[type="text"] {
  width: 100%;
}

#currentTime {
    align-content: center;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.now{
    color: green;
  }
  .past{
    color: red;
  }
  .future{
    color: grey;
  }